.cls-15,
.cls-2,
.cls-7 {
    fill: #ffffff;
}

.cls-2 {
    opacity: 0.2;
}

.cls-3 {
    fill: #f8b806;
}

.cls-4,
.cls-6 {
    fill: #c2204b;
}

.cls-4 {
    opacity: 0.3;
}

.cls-5 {
    fill: #fbc0aa;
}

.cls-10,
.cls-11,
.cls-16,
.cls-8 {
    fill: none;
    stroke-linecap: round;
}

.cls-11,
.cls-8 {
    stroke: #fbc0aa;
}

.cls-10,
.cls-11,
.cls-8 {
    stroke-linejoin: round;
}

.cls-8 {
    stroke-width: 14px;
}

.cls-9 {
    fill: #ffd8c9;
}

.cls-10,
.cls-16 {
    stroke: #515570;
}

.cls-10 {
    stroke-width: 1.89px;
}

.cls-10,
.cls-15 {
    opacity: 0.4;
}

.cls-11 {
    stroke-width: 3px;
}

.cls-12 {
    opacity: 0.1;
}

.cls-13 {
    fill: #393c54;
}

.cls-14 {
    fill: #515570;
}

.cls-16 {
    stroke-miterlimit: 10;
    stroke-width: 4px;
}